@import "htk/_imports/mixins.less";
@import "htk/_imports/colors.less";

.hidden {
    display: none;
}

.show-hover {
    visibility: hidden;
}

.rounded, .rounded-10, .rounded-medium {
    .rounded-base(1);
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}
