@black: #000000;
@white: #ffffff;

@red: #ff0000;
@green: #00ff00;
@blue: #0000ff;
@orange: rgb(255, 165, 0);

@dark-gray: #333333;
@dark-slate-gray: #4a4a4a;
@medium-gray: #aaaaaa;
@light-gray: #cccccc;
@lighter-gray: #eeeeee;

@okay-green: #00cc00;

@pure-menu-label-hover-bg: #5171eb;
@pure-menu-label-hover-bg-gradient-start: rgba(81, 113, 235, 1);
@pure-menu-label-hover-bg-gradient-end: rgba(26, 67, 244, 1);
@pure-menu-label-hover-border-bottom: #0d36e7;
@pure-menu-label-hover-border-top: #4767ea;

@button-blue: #0078e7;
@button-green: rgb(76, 201, 71); /* this is a green */
@button-maroon: rgb(202, 60, 60); /* this is a maroon */
@button-light-blue: rgb(95, 198, 218); /* this is a light blue */

@facebook-blue: #4c66a4;
@twitter-blue: #2c77ba;

/* http://flatuicolors.com/ */
@flatui-turquoise: #1abc9c;
@flatui-green-sea: #16a085;
@flatui-sun-flower: #f1c40f;
@flatui-orange: #f39c12;
@flatui-emerald: #2ecc71;
@flatui-nephritis: #27ae60;
@flatui-carrot: #e67e22;
@flatui-pumpkin: #d35400;
@flatui-peter-river: #3498db;
@flatui-belize-hole: #2980b9;
@flatui-alizarin: #e74c3c;
@flatui-pomegranate: #c0392b;
@flatui-amethyst: #9b59b6;
@flatui-wisteria: #8e44ad;
@flatui-clouds: #ecf0f1;
@flatui-silver: #bdc3c7;
@flatui-wet-asphalt: #34495e;
@flatui-midnight-blue: #2c3e50;
@flatui-concrete: #95a5a6;
@flatui-asbestos: #7f8c8d;

.bg-color(@color) {
    background-color: @color;
}
.fg-color(@color) {
    color: @color;
}

.bg-white {
    .bg-color(@white);
}
.bg-black {
    .bg-color(@black);
}
.bg-orange {
    .bg-color(@orange);
}
.bg-blue {
    .bg-color(@blue);
}

.bg-flatui-turquoise {
    .bg-color(@flatui-turquoise);
}
.bg-flatui-green-sea {
    .bg-color(@flatui-green-sea);
}
.bg-flatui-sun-flower {
    .bg-color(@flatui-sun-flower);
}
.bg-flatui-orange {
    .bg-color(@flatui-orange);
}
.bg-flatui-emerald {
    .bg-color(@flatui-emerald);
}
.bg-flatui-nephritis {
    .bg-color(@flatui-nephritis);
}
.bg-flatui-carrot {
    .bg-color(@flatui-carrot);
}
.bg-flatui-pumpkin {
    .bg-color(@flatui-pumpkin);
}
.bg-flatui-peter-river {
    .bg-color(@flatui-peter-river);
}
.bg-flatui-belize-hole {
    .bg-color(@flatui-belize-hole);
}
.bg-flatui-alizarin {
    .bg-color(@flatui-alizarin);
}
.bg-flatui-pomegranate {
    .bg-color(@flatui-pomegranate);
}
.bg-flatui-amethyst {
    .bg-color(@flatui-amethyst);
}
.bg-flatui-wisteria {
    .bg-color(@flatui-wisteria);
}
.bg-flatui-clouds {
    .bg-color(@flatui-clouds);
}
.bg-flatui-silver {
    .bg-color(@flatui-silver);
}
.bg-flatui-wet-asphalt {
    .bg-color(@flatui-wet-asphalt);
}
.bg-flatui-midnight-blue {
    .bg-color(@flatui-midnight-blue);
}
.bg-flatui-concrete {
    .bg-color(@flatui-concrete);
}
.bg-flatui-asbestos {
    .bg-color(@flatui-asbestos);
}
.fg-flatui-turquoise {
    .fg-color(@flatui-turquoise);
}
.fg-flatui-green-sea {
    .fg-color(@flatui-green-sea);
}
.fg-flatui-sun-flower {
    .fg-color(@flatui-sun-flower);
}
.fg-flatui-orange {
    .fg-color(@flatui-orange);
}
.fg-flatui-emerald {
    .fg-color(@flatui-emerald);
}
.fg-flatui-nephritis {
    .fg-color(@flatui-nephritis);
}
.fg-flatui-carrot {
    .fg-color(@flatui-carrot);
}
.fg-flatui-pumpkin {
    .fg-color(@flatui-pumpkin);
}
.fg-flatui-peter-river {
    .fg-color(@flatui-peter-river);
}
.fg-flatui-belize-hole {
    .fg-color(@flatui-belize-hole);
}
.fg-flatui-alizarin {
    .fg-color(@flatui-alizarin);
}
.fg-flatui-pomegranate {
    .fg-color(@flatui-pomegranate);
}
.fg-flatui-amethyst {
    .fg-color(@flatui-amethyst);
}
.fg-flatui-wisteria {
    .fg-color(@flatui-wisteria);
}
.fg-flatui-clouds {
    .fg-color(@flatui-clouds);
}
.fg-flatui-silver {
    .fg-color(@flatui-silver);
}
.fg-flatui-wet-asphalt {
    .fg-color(@flatui-wet-asphalt);
}
.fg-flatui-midnight-blue {
    .fg-color(@flatui-midnight-blue);
}
.fg-flatui-concrete {
    .fg-color(@flatui-concrete);
}
.fg-flatui-asbestos {
    .fg-color(@flatui-asbestos);
}
